services:
  db:
    image: postgres:15
    container_name: suara-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: suara
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    image: node:25-alpine
    container_name: suara-backend
    working_dir: /app
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: >
      sh -c "
      apk add --no-cache openssl netcat-openbsd &&
      until nc -z db 5432; do echo 'waiting postgres...'; sleep 1; done &&
      npm install &&
      npx prisma generate &&
      npx prisma db push &&
      npm run start:dev
      "

  frontend:
    image: node:25-alpine
    container_name: suara-frontend
    working_dir: /app
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: >
      sh -c "
      npm install &&
      npm run dev -- -H 0.0.0.0 -p 3000
      "

volumes:
  pgdata:
